<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Testing fat check page<br /> Welcome {{ user.username }}</h1>
        {% if user.is_authenticated %}
        <h2> would you like to update your variables<br /></h2>
        {% else %}
        <h2>Enter your weight and height<br /></h2>
        {% endif %}
        <form id="weightHeight" method="post" action="{% url 'rango:BMI' %}">
    
            {% csrf_token %}
            Weight: <input type="number" name="weight" value="" size="5" />
            <br />
            Height: <input type="number" name="height" value="" size="5" />
            <br />

        <input type="submit" name="submit" value="Enter" />
        </form>
        <h2> Your BMI is: {{ BMI }} </h2><br />
        <a href="{% url 'rango:index' %}" class=footer>Home</a>
    </body>
</html>