{% extends 'rango/base.html' %}
{% load static %}

{% block body_block %}
    <div class="nav z-depth-0">
        <div class="section center">
            <div class="header">
                <a href="{% url 'rango:index' %}"><span class="left">Home</span></a>
                <a href="{% url 'rango:logout' %}"><span class="right">Log Out</span></a>
            </div>
            <h3 class="white-text center">- Activities -</h3>
        </div>
    </div>

    <div class="section center">
        <p class="grey-text flow-text">Log your activity by filling the form <span class="highlighted-text">OR</span>
                                       search directly in our database<br />
                                       If you are a beginner user of <span class="highlighted-text">MyFitDiary </span>
                                       fill out the form on the left
        </p>
    </div>
    
    <div class="form-section">
        <div class="activity-check-left">
            {% if user.is_authenticated %}
            <form class="activity-form" id="activity_post_form" method="post" action= "{% url 'rango:activity_process' %}">
                {% csrf_token %}
                {{ ActivityForm }}
                <input type="submit" name="submit" value="Enter" />
            </form>
            {% endif %}
        </div>

        <div class="activity-check-right right">
            {% if user.is_authenticated %}
            <form class="activity-search-form" id="activity_search_form" method="post" action= "{% url 'rango:activity_process' %}">
                {% csrf_token %}
                {{ ActivitySearchForm }}
                <input type="submit" name="submit" value="Enter" />
            </form>
            {% endif %}
        </div>
    </div>
    {% if error %}
        <div class="error">
            <p class="paragraph center">{{ error }}</p>
        </div>
    {% endif %}
    <div class="figure center"></div>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>var activities = {{ activities_info | safe}};</script>
    <script src="{% static 'js/pie_chart_activity.js' %}"></script>
    <script src="{% static 'js/filter_activity.js' %}"></script>
    <script src="{% static 'js/autocomplete.js' %}"></script>
{% endblock %}