{% extends 'rango/base.html' %}
{% load static %}

{% block body_block %}
    <div class="nav z-depth-0">
        <div class="section center">
            <h3 class="white-text center">- Welcome {{ user.username }} -</h3>
        </div>
    </div>

    <div class="progress"></div>
        {% comment %}    
        <li><a href="{% url 'rango:BMI' %}">Fat Percentage</a></li> 
        <li><a href="{% url 'rango:workout' %}">Workout</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'rango:add_category' %}">add category</a></li>
        {% endif %}
        {% endcomment %}
        <li><a href="{% url 'rango:activities' %}">Activities</a></li>
        <li><a href="{% url 'rango:nutrition' %}">Nutrition</a></li>
        <li><a href="{% url 'rango:report' %}">Report</a><br /></li>
       
    <div class="titles">
        <span class="center-title left">Macros</span>
        <span class="center-title right">Calories</span>
    </div>

    <div class="canvas-pos-left left">
        <div class="canvas"></div>
    </div>
    <div class="canvas-pos-right right">
        <div class="canvas-bar"></div>
    </div>
        
        <script> var macros = {{ nutrients_info | safe }};  
                 var calories = {{ calories_info | safe }};
        </script>
        <script src="{% static 'js/pie_chart_calories.js' %}"></script> 
        <script src="{% static 'js/calorie_bar.js' %}"></script>
    </div>
    
        <div class="footer">
            <div class="progress"> </div>
            <ul>
                <li class=footer><a href="{% url 'rango:profile' %}" class=footer>Profile</a></li>
                <li class=footer><a href="{% url 'rango:logout' %}" class=footer>Logout</a></li>         
            </ul>
        </div>
{% endblock %}
