<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Testing each category<br /> Welcome {{ user.username }}</h1>
        <h2> This is {{ category.name }} </h2>

        {% if videos %}
            {% for video in videos %}
                {% csrf_token %}
                {{ video.title }} {{ video.url }}
                <iframe width="350" height="196.875" src="{{ video.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br />
            {% endfor %}
        {% endif %}  
                
        <a href="{% url 'rango:index' %}" class=footer>Home</a>
    </body>
</html>